{{- $images := findRE `!\[([^\]]*)\]\(([^)]+)\)` .Inner -}}
{{- $caption := .Get "caption" -}}
<figure class="sf-gallery-wrap">
  <div class="sf-gallery glightbox-gallery-{{ .Ordinal }}">
    {{- range $i, $img := $images -}}
      {{- $alt := index (findRE `!\[([^\]]*)\]` $img) 0 | strings.TrimLeft "![" | strings.TrimRight "]" -}}
      {{- $src := index (findRE `\(([^)]+)\)` $img) 0 | strings.TrimLeft "(" | strings.TrimRight ")" -}}
      <a href="{{ $src }}" class="glightbox" data-gallery="gallery-{{ $.Ordinal }}"{{ with $alt }} data-description="{{ . }}"{{ end }}>
        <img src="{{ $src }}" loading="lazy" alt="{{ $alt }}">
      </a>
    {{- end -}}
  </div>
  {{- with $caption -}}<figcaption>{{ . }}</figcaption>{{- end -}}
</figure>
